{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}

    {% for movie in movies %}
        <li>  
        {{movie}}
        </li>
    {% endfor %}

{% endblock %}
